@import url('https://fonts.googleapis.com/css2?family=Poppins:wght@400;600&display=swap');

::after,
::before {
    box-sizing: border-box;
    margin: 0;
    padding: 0;
}

a {
    text-decoration: none;
}

li {
    list-style: none;
}

body {
    font-family: 'Poppins', sans-serif;
}

.wrapper{
    display: flex;
}

.main{
    display: flex;
    flex-direction: column;
    min-height: 100vh;
    width: 100%;
    overflow: hidden;
    transition: all 0.35s ease-in-out;
    background-color: #fff;
    min-width: 0;
}

#sidebar{
    width: 70px;
    min-width: 70px;
    z-index: 1000;
    transition: all .25s ease-in-out;
    background-color: #0e2238;
    display: flex;
    flex-direction: column;
}

#sidebar.expand{
    width: 260px;
    min-width: 260px;
}

#toggle-btn{
    background-color: transparent;
    cursor: pointer;
    border: 0;
    padding: 1rem 1.5rem;
}

#toggle-btn i{
    font-size: 1.5rem;
    color: #fff;
}

.sidebar-logo{
    margin: auto 0;
}

.sidebar-logo a{
    color: #fff;
    font-size: 1.5rem;
    font-weight: 600;
    text-decoration: none;
}

#sidebar:not(.expand) .sidebar-logo,
#sidebar:not(.expand) a.sidebar-link span{
    display: none;
}

#sidebar.expand .sidebar-logo,
#sidebar.expand a.sidebar-link span{
    animation: fadeIn .25s ease;
}

@keyframes fadeIn {
    0%   { opacity: 0; } 
    100% { opacity: 1; }
}

.sidebar-nav{
    padding: 2rem 0;
    flex: 1 1 auto;
}

a.sidebar-link{
    padding: .625rem 1.625rem;
    color: #fff;
    display: block;
    font-size: 0.9rem;
    white-space: nowrap;
    border-left: 3px solid transparent;
    text-decoration: none;
}

.sidebar-link i,
.dropdown-menu{
    font-size: 1.1rem;
    margin-right: .75rem;
}

a.sidebar-link:hover{
    background-color: rgba(255, 255, 255, 0.75);
    border-left: 3px solid #3b7ddd;
}

.sidebar-item{
    position: relative;
}

#sidebar:not(.expand) .sidebar-item .sidebar-dropdown {
    position: absolute;
    top: 0;
    left: 70px;
    background-color: #0e2238;
    padding: 0;
    min-width: 15rem;
    display: none;
}

#sidebar:not(.expand) .sidebar-item:hover .has-dropdown+.sidebar-dropdown {
    display: block;
    max-height: 15em;
    width: 100%;
    opacity: 1;
}

#sidebar.expand .sidebar-link[data-bs-toggle="collapse"]::after {
    border: solid;
    border-width: 0 .075rem .075rem 0;
    content: "";
    display: inline-block;
    padding: 2px;
    position: absolute;
    right: 1.5rem;
    top: 1.4rem;
    transform: rotate(-135deg);
    transition: all .2s ease-out;
}

#sidebar.expand .sidebar-link[data-bs-toggle="collapse"].collapsed::after {
    transform: rotate(45deg);
    transition: all .2s ease-out;
}

/* search */
.navbar{
    background-color: #f5f5f5;
    box-shadow: 0 0 2rem rgba(33, 37, 41, .1);
}

.navbar-expand .navbar-collapse{
    min-width: 200px;
}

.avatar{
    height: 40px;
    width: 40px;
}

.card{
    background-color: #f5f5f5;
    transition: .4s;
    cursor: pointer;
    color: #000;
    margin-bottom: 1rem;
}

.card:hover{
    background-color: #293b5f;
    color: #fff;
    transform: translateY(-10.5px);
}

.text-success{
    background-color: #71c664;
    padding: 0.25rem 0.35rem;
    font-size: 0.715rem;
    color: #fff !important;
    border-radius: 5px;
}

.table>thead tr{
    background-color: #293b5f;
    color: #fff;
}
.content{
    flex: 1 1 auto;
    /* text-align: center; */
}

.footer{
    background-color: #f5f5f5;
    padding: 1rem .875rem;
    text-decoration: none;
}

.footer a{
    text-decoration: none;
    color: #293b5f;
}
.text-body-secondary a:hover {
    color: #000; 
}

@media (min-width: 768px){
    .navbar form{
        max-width: 320px;
    }
    .input-group-navbar .form-control:focus{
        outline: none;
        box-shadow: 0 0 0 rgba(255, 255, 255);
        border: none;
    }
    .input-group-navbar .form-control{
        color: #3e4455;
    }
    .form-control::placeholder{
        background-color: #fff;
    }
    .input-group-navbar .btn{
        background-color: #293b5f;
        color: #fff;
        font-family: 'Popins', sans-serif;
        cursor: pointer;
        z-index: 1000;
    }
    .navbar-expand .navbar-nav .dropdown-menu{
        box-shadow: 0 .1rem .2rem rgba(0, 0, 0, .05);
    }
}

/* Add Student */
.add-student {
    max-width: 600px;
    margin: 0 auto;
    padding: 20px;
    background-color: #f9f9f9;
    border-radius: 10px;
    box-shadow: 0 0 10px rgba(0, 0, 0, 0.1);
}


.add-student h3 {
    margin-bottom: 20px; 
}

.add-student button[type="submit"] {
    background-color: #293b5f; 
    color: #fff; 
    border: none; 
    padding: 10px 20px; 
    cursor: pointer; 
    transition: 0.3s ease;
}

.add-student button[type="submit"]:hover {
    background-color: #0e2238; 
}

.selected{
    background-color: grey;
    color: #3b7ddd;
}

.active .item{
    background-color: white;
}
.active a span{
    color: #0e2238;
    font-weight: bolder;
}
.active i{
    color: #0e2238;
}
