i{
    font-size: 40px;
    color: #3B71CA;
}



h3{
    font-size: 24px;
    color: #333333;
    line-height: 1.2;
    text-align: center;
    width: 100%;
    display: block;
    padding-bottom: 50px;
    margin-top: 10px;
    font-weight: bold;
}

body, html {
    height: 100vh;
}

body{
    background-image: linear-gradient(to right bottom, #ffffff, #fbfbfb, #f7f7f7, #f3f3f3, #efefef);
}


.form-element{
    position: relative;
    margin-bottom: 45px;
    margin-top: -20px;

}

.box {
    margin: 100px auto;
    width: 400px;
    background: white;
    border-radius: 10px;
    display: flex;
    flex-wrap: wrap;
    padding: 50px 70px 40px 70px;
    justify-content: center;
    overflow: hidden;
}

.btn {
    font-size: 15px;
    line-height: 1.5;
    color: #fff;
    text-transform: uppercase;
    width: 100%;
    height: 50px;
    background: #3B71CA;
    justify-content: center;
    align-items: center;
    padding: 0 25px;
    margin-top: 10px;
}


button:hover {
    cursor: pointer;
    background-color: #00b3db;
}

.line{
    width: 500px;
    border-bottom: 1px solid black;
    position: absolute;
    opacity: 0.3;
}

.input {
    font-size: 15px;
    line-height: 1.5;
    color: black;
    display: block;
    width: 300px;
    background: #ecedf1;
    height: 43px;
    border-radius: 10px;
    padding: 0 10px 0 20px;
    margin: auto;
    border: #3B71CA;
}

.form-element label{
    position: absolute;
    padding-left: 10px;
    top:10px;
    right: 215px;
    cursor: text;
}

.form-element input:focus + label,.form-element input:not(:placeholder-shown) + label{
    opacity:1;
    transform: scale(.9) translateY(-170%) translateX(-10px);
    color:#000;
}

.form-element input:focus{
    border:1px solid #3B71CA;
    outline-color: #3B71CA;
}

.form-element label,.form-element input{
    transition: all 0.4s;
}

.error{
    color: red;
    margin-top: -30px;
    margin-bottom: 10px;
    text-align: left;
}

.hint{
    position: relative;
    margin-top: 30px;
    color: black;
    font-weight: bold;
}

